body{
    display: grid;
    background-color: #Ecf2f8;
  }

.center__container{
    max-width: 1600px;
    margin: 0 auto;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 3%;
}

.one {
    border: 2px solid #a775f1;
}
    
    
.container {
    display: grid;
    gap: 1.5rem;
    background-color: #Ecf2f8;
    grid-auto-columns: 1fr;
    grid-template-areas:
      'one'
      'two'
      'three'
      'four'
      'five';
       
}
    
.lorem {
  font-size: 15px;
  padding: 1rem;
  border-radius: 0.5rem;
      
}
    
.lorem:nth-child(1) {
  grid-area: one;
  background-color: #a775f1;
}
.lorem:nth-child(2) {
  grid-area: two;
  background-color: #48556A
}
.lorem:nth-child(3) {
  grid-area: three;
  background-color: #ffffff;
}
.lorem:nth-child(4) {
  grid-area: four;
  background-color: #19212e;
}
.lorem:nth-child(5) {
  grid-area: five;
  background-color: #ffffff;
}

img {
  width: 2rem;
  border-radius: 50px;
}
.profile{
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.profile-name{
  display: block;
}
h2{
  font-size: 1.5rem;
  padding: 1rem;
}
h6 {
  font-size: 13px;
  opacity: 50%;
}
p{
  font-size: 17px;
  width: 80%;
}
    
@media screen and (min-width: 528px) {
  .container {
  grid-template-areas:
  "one one"
  "two three"
  "five five"
  "four four";
  }
}
    
@media screen and (min-width: 608px) {
  .container {
    grid-template-areas:
      'one one'
      'two five'
      'three five'
      'four four';
  }
}
    
@media screen and (min-width: 864px) {
  .container {
    grid-template-areas:
    "one one two"
    "five five five"
    "three four four";
  }
}
    
@media screen and (min-width: 1200px) {
  .container {
    grid-template-areas:
    "one one two five"
    "three four four five";
  }
}