*,
*::before,
*::after {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
p
{
  margin: 0;
}

body{
    display: grid;
    background-color: #Ecf2f8;
  }

.container{
    max-width: 1300px;
    margin: 0 auto;
    
}

    
.container {
    display: grid;
    gap: 1.5rem;
    background-color: #Ecf2f8;
    grid-auto-columns: 1fr;
    grid-template-areas:
      'one'
      'two'
      'three'
      'four'
      'five';
       
}
    
.lorem {
  font-size: 13px;
  padding: 1rem;
  border-radius: 0.5rem;
        
}


.lorem:nth-child(1) {
  grid-area: one;
  color: #fff;
  background-color: #a775f1;
}
.lorem:nth-child(2) {
  grid-area: two;
  color: #fff;
  background-color: #48556A
}
.lorem:nth-child(3) {
  grid-area: three;
  background-color: #ffffff;
}
.lorem:nth-child(4) {
  grid-area: four;
  color: #fff;
  background-color: #19212e;
}
.lorem:nth-child(5) {
  grid-area: five;
  background-color: #ffffff;
}

.top{
  display: flex;
  justify-content: space-between;
}

img {
  width: 3rem;
  border-radius: 50px;
}
.profile{
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

h2{
  font-size: 1.5rem;
  padding: 1rem;
}
span {
  font-size: 13px;
  opacity: 50%;
}
p{
  font-size: 17px;
  opacity: 50%;

}
.icon{
  position: absolute;
}

.fa-solid{
  font-size: 5rem;
  opacity: 20%;
}
  
    
@media screen and (min-width: 528px) {
  .container {
  grid-template-areas:
  "one one"
  "two three"
  "five five"
  "four four";
  }
}
    
@media screen and (min-width: 608px) {
  .container {
    grid-template-areas:
      'one one'
      'two five'
      'three five'
      'four four';
  }
}
    
@media screen and (min-width: 864px) {
  .container {
    grid-template-areas:
    "one one two"
    "five five five"
    "three four four";
  }
}
    
@media screen and (min-width: 1200px) {
  .container {
    grid-template-areas:
    "one one two five"
    "three four four five";
  }
}